In [26]:
import pandas as pd

In [27]:
tb = pd.read_csv('./Tom_Brady.csv')

In [28]:
tb

,Rk,Year,Date,G#,Week,Age,Tm,Unnamed: 7,Opp,Result,...,Yds.5,Y/P,Blck,Num,Pct,Num.1,Pct.1,Num.2,Pct.2,Status
0,1,2000,2000-09-03,1,1,23,NWE,NaN,TAM,L 16-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2000,2000-09-11,2,2,23,NWE,0.0,NYJ,L 19-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2000,2000-09-17,3,3,23,NWE,NaN,MIN,L 13-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2000,2000-09-24,4,4,23,NWE,0.0,MIA,L 3-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2000,2000-10-01,5,5,23,NWE,0.0,DEN,W 28-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,352,2021,2022-01-02,16,17,44,TAM,0.0,NYJ,W 28-24,...,0.0,NaN,0.0,74.0,100%,0.0,0%,0.0,0%,NaN
352,353,2021,2022-01-09,17,18,44,TAM,NaN,CAR,W 41-17,...,0.0,NaN,0.0,51.0,85%,0.0,0%,0.0,0%,NaN
353,354,2022,2022-09-11,1,1,45,TAM,0.0,DAL,W 19-3,...,0.0,NaN,0.0,62.0,100%,0.0,0%,0.0,0%,NaN
354,355,2022,2022-09-18,2,2,45,TAM,0.0,NOR,W 20-10,...,0.0,NaN,0.0,67.0,100%,0.0,0%,0.0,0%,NaN
355,356,2022,2022-09-25,3,3,45,TAM,NaN,GNB,L 12-14,...,0.0,NaN,0.0,65.0,100%,0.0,0%,0.0,0%,NaN

In [29]:
tb['PPR'] = 0
tb['Opponent_Rank'] = 0

In [30]:
tb

,Rk,Year,Date,G#,Week,Age,Tm,Unnamed: 7,Opp,Result,...,Blck,Num,Pct,Num.1,Pct.1,Num.2,Pct.2,Status,PPR,Opponent_Rank
0,1,2000,2000-09-03,1,1,23,NWE,NaN,TAM,L 16-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,2,2000,2000-09-11,2,2,23,NWE,0.0,NYJ,L 19-20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,3,2000,2000-09-17,3,3,23,NWE,NaN,MIN,L 13-21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,4,2000,2000-09-24,4,4,23,NWE,0.0,MIA,L 3-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,5,2000,2000-10-01,5,5,23,NWE,0.0,DEN,W 28-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,352,2021,2022-01-02,16,17,44,TAM,0.0,NYJ,W 28-24,...,0.0,74.0,100%,0.0,0%,0.0,0%,NaN,0,0
352,353,2021,2022-01-09,17,18,44,TAM,NaN,CAR,W 41-17,...,0.0,51.0,85%,0.0,0%,0.0,0%,NaN,0,0
353,354,2022,2022-09-11,1,1,45,TAM,0.0,DAL,W 19-3,...,0.0,62.0,100%,0.0,0%,0.0,0%,NaN,0,0
354,355,2022,2022-09-18,2,2,45,TAM,0.0,NOR,W 20-10,...,0.0,67.0,100%,0.0,0%,0.0,0%,NaN,0,0
355,356,2022,2022-09-25,3,3,45,TAM,NaN,GNB,L 12-14,...,0.0,65.0,100%,0.0,0%,0.0,0%,NaN,0,0

In [19]:
defenses = pd.read_csv('./Defenses.csv')

In [20]:
defenses

,Year,RANK,NAME,PTS,FPTS,SACKS,INT,TO,PTS.1,PLAYS,...,RUSH YDS,RUSH ATT,RUSH TD,TD,RZ ATT,RZ TD,RZ TD%,1D,3D%,4D%
0,2022,1,TAM,6,45,11,5,8,27,191,...,238,63,0,3,5,3,60.0,44,30.2,33.3
1,2022,2,DEN,2,28,9,1,4,36,160,...,244,56,0,3,4,1,25.0,47,26.5,25.0
2,2022,3,SFO,0,25,8,3,4,37,173,...,236,84,2,5,4,3,75.0,43,32.5,0.0
3,2022,4,BUF,8,41,11,5,7,38,158,...,173,62,3,5,6,5,83.3,46,39.4,75.0
4,2022,4,JAX,0,36,7,6,8,38,176,...,165,53,0,5,7,3,42.9,51,42.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2017,28,NYG,14,1224,27,13,19,388,1052,...,1933,464,10,44,53,29,54.7,313,39.6,29.4
188,2017,28,WAS,12,1097,41,16,23,388,1045,...,2146,472,13,41,57,29,50.9,307,36.7,60.0
189,2017,30,IND,10,1165,26,13,20,404,1026,...,1929,487,15,44,51,27,52.9,324,44.7,50.0
190,2017,31,CLE,6,1132,34,7,13,410,1026,...,1566,467,14,48,46,31,67.4,315,40.6,50.0
191,2017,32,HOU,26,1206,32,11,16,436,973,...,1747,440,14,48,54,33,61.1,301,35.3,62.5

In [ ]:
tb['Opponent_Rank'] =

In [14]:
for team in tb['Opp']:
    for year in tb['Year']:
        if year == defenses['Year']:
            tb['Opponent_Rank'] == defenses['RANK']
        else:
            continue

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().